* {
    box-sizing: border-box;
    text-decoration: none;
}

body{
  background: linear-gradient(68.15deg, #334594 16.62%, #9da5eb 85.61%);
  background-attachment: fixed;
}

body::before{
    background-image: url(/bolatec.png);
    position: absolute;
    background-size: cover;
    opacity: 0.5;
}

.fale-conosco{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fale-conosco-titulo{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 450;
    color: aliceblue;
    padding: 17px;
    font-family: 'sarala', sans-serif;
    border: 5px;
    border-radius: 20px;
    border-style: outset;
    border-color: black;
    background-color: black;
    opacity: 0.8;
}

.fale-conosco-texto{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: black;
    font-family: 'sarala', sans-serif;
}

.fale-conosco-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sarala', sans-serif;
    font-size: 16px;
    color: aliceblue;
    font-weight: 600;
    border: 2px;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    background-color: black;
    opacity: 0.8;
    padding: 11px;
}
